{% extends "qa/base.html" %}

{% block title %}Страница вопросов{% endblock %}

{% block content %}
  <h1>{{ question.title }}</h1>
  <h3>{{ question.text }}</h3>
  {% for answer in answers %}
    <ul>
      <li><p>{{ answer.text }}</p></li>
    </ul>
  {% endfor %}

  <h1>Задать новый вопрос</h1>
  {% for e in form.non_field_errors %}
    {{ e }}
  {% endfor %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}HAS-ERROR{% endif %}
      <label>{{ field.label }}</label>
      <div>{{ field }}</div>
    {% endfor %}
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}